html {
	background-image: url(images/background_star.gif);
	overflow-y: scroll;
}

body {
	width: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color:aliceblue;
	font-family: havakana;
	font-size: 1.1em;
}

.header {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	font-size: 5em;
	font-family: anisha;
	text-align: center;
}

.main {
	margin-top: 5px;
}

.navbar {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	position: relative;
	float:left;
	width: 250px;
	text-decoration: none;
	list-style: none;
}

.navbar a, a:link, a:visited{
	text-decoration: none;
	color:rgb(252, 230, 255)
}

.content {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	margin-bottom: 5px;
	position: relative;
	float:right;
	width: 614px;
	padding: 10px;
}

.content-text {
	max-width: 75%;
	width: auto;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.

/*
.content p {
	max-width: 80%;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}*/

.gbp {
	
}

.comment {
	border: 2px solid;
	border-radius: 6px;
	border-color: aliceblue;
	padding: 0px 0px 5px 0px;
	background-color: darkseagreen;
}

.comment-header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: aquamarine;
	width: 100%;
	color: black;
	display: flex;
	flex-direction: row;
}

div .name {
	text-align: left;
	overflow-wrap: break-word;
}

div .date {
	font-size: 0.8em;
	margin-right: 10px;
	text-align: right;
	color: black;
}

div.comment-header p {
	width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.comment-message p{
	width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-message {
	color:white;
	overflow-wrap: break-word;
}

.gb-modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.gb-modal-content {
	background-color: #fefefe;
	color: black;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.friend-frame {
	width: 290px;
	height: 200px;
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

.p-h1 {
	font-family: anisha;
	font-size: 3em;
	margin-top:5px;
	margin-bottom:5px;
	margin-left: 10px;
}

.p-h2 {
	font-size: 1.5em;
	margin-left: 10px;
}

.p-h3 {
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
	width: 80%;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Margin top 5px*/
.m-t5 {
	margin-top: 5px;
}

/*Margin top-bottom 10px*/
.m-tb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fit { 
	width: fit-content;
}