html {
/*	overflow-y: scroll; */
	margin: 0;
	height: 99%;
}

body {
	margin: 0;
	height: 99%;
	background-image: url(images/background_star.gif);
}

.background {
	background-image: url(images/background_star.gif);
	width: 100%;
	height: 100vh;
	position: absolute;
}

.undertale-bg {
	background-image: url(images/ut-bg.webp);
	width: 100%;
	position: sticky;
}

.header {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	margin-bottom: 5px;
	background-color: rgb(54, 39, 48);
	font-size: 5em;
	font-family: anisha;
	text-align: center;
	height: 100%;
}

.update-div {
	font-size: 0.8rem;
	display: flex;
}

.update-div:hover {
	cursor: pointer;
}

.finger-hover:hover {
	cursor: pointer;
}

.update-text {
	align-self: center;
	flex: 70%;
}

.update-img {
	flex: 30%;
}

.main {
	margin-top: 5px;
	width: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color:aliceblue;
	font-family: havakana;
	font-size: 1.1em;
	box-sizing: border-box;
}

.navbar {
	text-decoration: none;
	list-style: none;
}

.navbar a, a:link, a:visited{
	text-decoration: none;
	color:#fce6ff
}

.left {
	float:left;
	max-width: 256px;
}

.right {
	float:right;
	max-width: 614px;
}

.leftbar {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	position: relative;
	float:left;
	width: 250px;
	padding: 5px 0px;
}

.block {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	margin-bottom: 5px;
	position: relative;
}

.leftbarblock-nop {
	float:left;
	width: 250px;
}

.leftbarblock {
	float:left;
	width: 250px;
	padding: 5px 0px;
}

.contentblock {
	float:right;
	width: 614px;
	padding: 10px;
}

.content {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	margin-bottom: 5px;
	position: relative;
	float:right;
	width: 614px;
	padding: 10px;
}

.no-border {
	border: none;
}

.content-text {
	max-width: 75%;
	width: auto;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blogpost-bar {
	
}

.blogpost-titles {
	margin-left: 10px;
	text-decoration: none;
    color: rgb(252, 230, 255);
}

/*
.content p {
	max-width: 80%;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}*/

.guestbook-form-div {
	margin: 0px 0px 10px 0px;
}


.comment {
	border: 2px solid;
	border-radius: 6px;
	border-color: aliceblue;
	padding: 0px 0px 5px 0px;
	background-color: darkseagreen;
}

.comment-header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: aquamarine;
	width: 100%;
	color: black;
	display: flex;
	flex-direction: row;
}

div .name {
	text-align: left;
	overflow-wrap: break-word;
}

div .date {
	font-size: 0.8em;
	margin-right: 10px;
	text-align: right;
	color: black;
}

div.comment-header p {
	width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.comment-message p{
	width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-message {
	color:white;
	overflow-wrap: break-word;
}

.gb-modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.gb-modal-content {
	background-color: #fefefe;
	color: black;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.friend-frame {
	width: 290px;
	height: 200px;
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

.p-h1 {
	font-family: anisha;
	font-size: 3em;
	margin-top:5px;
	margin-bottom:5px;
	margin-left: 10px;
}

.p-h2 {
	font-size: 1.5em;
	margin-left: 10px;
}

.p-h3 {
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
	width: 80%;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.update-message {
	font-family: havakana;
	margin-top: 0px;

}

.pulsing {
	animation-name: pulsing;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes pulsing {
            0% {
                transform: scale(.7);
            }
  
            50% {
            }
  
            100% {
                transform: scale(1.5);
            }
        }
/*Margin top 5px*/
.m-t5 {
	margin-top: 5px;
}

/*Margin top-bottom 10px*/
.m-tb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

.bold {
	font-weight: 700;
}

.fit { 
	width: fit-content;
}

.invisible {
	visibility: hidden;
}

@media only screen and (max-width: 914px) {
	.header {
		font-size: 10vw;
		height: fit-content;
		flex: 0 1 auto;
	}

  .main {
		display: flex;
		flex-flow: column;
		padding-left: 5px; 
		padding-right: 5px;
		width: 100%;
		height: 100%;
  }

	.block {
		box-sizing: border-box;
	}

	.right {
		width: 100%;
		max-width: none;
		z-index: 0;
	}

	.leftbarblock { 
		display: none;
	}

	.left {
		z-index: 1;
		max-width: unset;
		width: 100%;
		flex: 1 1 auto;
	}

	.navbar {
		height: 100%;
		display: flexbox;
		flex-direction: column;
	}

	.navbar ul {
		padding-inline-end: 40px;
	}
	
	.menuitem {
		padding: 3.5mm 10px;
		margin-bottom: 10px;
		min-width: 65px;
		flex: 1 1 auto;
		border: 0px none;
		border-radius: 6px;
		background-color: 	#4974a5;
		text-align: center;
		vertical-align: middle;
	}

	.menuitem-text {

	}

	.menuitem-link {
		list-style-type: none;
	}

	.menuitem-link a {
		text-align: center;
	}
}
