html {
	background-image: url(images/background_star.gif);
	overflow-y: scroll;
}

body {
	width: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color:aliceblue;
	font-family: havakana;
	font-size: 1.1em;
}

.header {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	font-size: 5em;
	font-family: anisha;
	text-align: center;
}

.main {
	margin-top: 5px;
}

.navbar {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	position: relative;
	float:left;
	width: 250px;
	text-decoration: none;
	list-style: none;
}

.navbar a, a:link, a:visited{
	text-decoration: none;
	color:rgb(252, 230, 255)
}

.content {
	border: 3px solid;
	border-radius: 4px;
	border-color: rgb(252, 230, 255);
	background-color: rgb(54, 39, 48);
	margin-bottom: 5px;
	position: relative;
	float:right;
	width: 614px;
	padding: 10px;
}

.content p {
	width: 80%;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.gbp {

}

.comment {
	border: 2px solid;
	border-radius: 6px;
	border-color: aliceblue;
	padding: 0px 0px 5px 0px;
	background-color: darkseagreen;
}

.comment-header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: aquamarine;
	width: 100%;
	color: black;
	display: flex;
	flex-direction: row;
}

div .name {
	text-align: left;
}

div .date {
	font-size: 0.8em;
	margin-right: 10px;
	text-align: right;
	color: black;
}

.comment-message {
	color:white;
}

.friend-frame {
	width: 290px;
	height: 200px;
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

.p-h1 {
	font-family: anisha;
	font-size: 3em;
}

.p-h2 {
	font-family: adreena;
	font-size: 1.5em;
}